doctype html
html
  head
    title Title
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1" name="viewport"
    link href="application.css" rel="stylesheet"
    script src="application.js"
    script src="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/js/uikit.min.js" 
    script src="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/js/uikit-icons.min.js" 

body
  == slim :top
  == yield