ruby:
  # srvhealth = HTTParty.get("http://metaclone.tas.bot:13380/status", headers: {"User-Agent" => "Bolts for Bots", "Content-Type" => "application/json", "auth-token" => configatron.key })
  srvhealth = HTTParty.get("http://localhost:13380/status", headers: {"User-Agent" => "Bolts for Bots", "Content-Type" => "application/json", "auth-token" => configatron.key })
  login_status = srvhealth.values_at("Login")[0]  
  char_status = srvhealth.values_at("Char")[0]  
  map_status = srvhealth.values_at("Map")[0]
  
  # playercount = HTTParty.post("http://metaclone.tas.bot:13380/online?count=1", headers: {"User-Agent" => "Donnybrook wuz here", "Content-Type" => "application/json", "auth-token" => configatron.key })
  playercount = HTTParty.post("http://localhost:13380/online?count=1", headers: {"User-Agent" => "Donnybrook wuz here", "Content-Type" => "application/json", "auth-token" => configatron.key })
  oncount = playercount.values_at("online")[0]
  tocount = playercount.values_at("total")[0]
  
  loggedin = false

nav.uk-navbar-container uk-navbar="" 
  .uk-navbar-left
    ul.uk-navbar-nav
      li.uk-active
        a href="#"  Status
        .uk-navbar-dropdown
          ul.uk-nav.uk-navbar-dropdown-nav
            li.uk-nav-header Server Status
            li Login Server: #{login_status}
            li Character Server: #{char_status}
            li Map Server: #{map_status}
            li.uk-nav-divider
            li = "Active #{oncount} Total #{tocount}"

  .uk-navbar-right
    ul.uk-navbar-nav
      li
        a href="#" 
          | Login
        .uk-navbar-dropdown
          ul class="uk-nav.uk-navbar-dropdown-nav" 
            li
              - if loggedin == true
                button.uk-button.uk-button-primary Logoff
              - else 
                form
                  .uk-margin
                    .uk-inline
                      input.uk-input type="text" placeholder="Username"
                  .uk-margin
                    .uk-inline
                      input.uk-input type="password" placeholder="Password"
                      
                li.uk-nav-divider
                  li
                    button.uk-button.uk-button-primary Login
                  li
                    br
                    button.uk-button.uk-button-primary Discord
            
